body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

nav a img {
  height: 40px;
}

.nav-menu a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  margin: 0px 20px;
}

.nav-menu a:hover,
.active {
  background-color: #fcf5e9;
  padding: 10px;
}

.gallery-container {
  display: block;
  margin: 0 100px;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  padding: 50px;
}

header {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div {
  text-align: center;
  font-size: 50px;
}

h1 {
  font-size: 3rem;
  line-height: 1.4;
  font-weight: normal;
  max-width: 900px;
}

span {
  background-color: #fcf5e9;
}

.gallery,
.gallery-team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.mtb {
  margin-top: -50px;
  margin-bottom: 50px;
}

.mtb h6 {
  font-size: 26px;
}

.gallery div img,
.gallery-team div img {
  border-radius: 10px;
  width: 100%;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #888;
}

.footer a img {
  width: 100px;
  margin-top: 80px;
}

.contact,
.social-contact {
  text-align: left;
}

.contact h6 {
  margin-top: 25px;
  margin-bottom: 0px;
  font-size: 18px;
}

.contact p {
  font-size: 18px;
}

.social-contact h6 {
  margin-top: 50px;
  margin-bottom: 0px;
  font-size: 18px;
}

.social-contact i {
  font-size: 30px !important;
  margin-right: 5px;
}

.gallery-team h6 {
  text-align: left;
  margin-top: 0px;
  font-size: 18px;
}

.gallery-team p {
  text-align: left;
  margin-top: -30px;
  font-size: 18px;
}

/* About Section */
.services {
  background-color: #333;
  height: max-content;
  margin: 0 -10px;
  padding: 48px 0px 64px;
}

.services h2 {
  color: white;
  font-size: 26px;
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 0 240px;
}

.service {
  flex: 1;
  padding: 25px;
}

.service h3,
.service p {
  color: white;
  text-align: left;
}

.service h3 {
  font-size: 18px;
}

.service p {
  font-size: 16px;
}

/* Contact */
.contact-header {
  background-color: #333;
  color: white;
  margin: 0 -10px;
  padding: 10px;
}

.contact-header h1 {
  text-align: center;
}

.contact-header span {
  color: #333;
}

.contact-form {
  margin-bottom: 70px;
}

.contact-form p {
  font-size: 16px;
  margin-top: -40px;
  text-align: center;
  padding: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 50%;
  padding: 15px;
  border: 0;
  border-bottom: 1px solid #333;
  margin-bottom: 10px;
}

.contact-form input[type='text'],
.contact-form textarea {
  font-size: 16px;
}

.contact-form textarea {
  height: 150px;
  resize: none;
}

.contact-form button {
  width: 50%;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #333;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  header {
    height: auto;
  }

  header h1 {
    font-size: 28px;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .gallery-container {
    padding: 10px;
    margin: auto;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
  }

  .gallery-team {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .wrapper {
    flex-direction: column;
    margin: auto;
  }

  .service {
    margin-bottom: -50px;
  }

  .mtb {
    margin: 0px auto !important;
    margin-top: -50px !important;
  }

  .footer {
    flex-direction: column;
    margin-top: 0px;
  }

  .footer a img {
    width: 100px;
    height: 50px;
  }

  .contact,
  .social-contact {
    text-align: center;
    margin-bottom: -40px;
    line-height: 0.7;
    font-size: 16px;
  }

  .contact h6,
  .social-contact h6 {
    margin-bottom: 30px;
  }

  .contact-form h6 {
    font-size: 24px;
  }

  .contact-form input,
  .contact-form textarea,
  .contact-form button {
    width: 90%;
  }

  .contact-form {
    margin-bottom: 100px;
  }
}
